body{
    margin: 3em 0;
}
  ul{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
  }
  ul li{
    padding: 7px;
  }
  h1{
    color: #161517;
    font-size: 50px !important;
  }
  nav{
    display: inline-block;
  }
  input[type=button] {
    padding: 12px;
    font-size: 15px !important;
    height: 42px;
  }
  .btn-outline-primary {
    color: #3665ab;
    border-color: #c0c2c5;
}
 .table{
    width: 80%;
    text-align: left;
 }
 .center {
    margin-left: 15%;
    margin-right: 0%;
  }
 
  @media screen and (min-width:1020px) {
  ul{
    width:40rem;
  }
  input[type=button]{
    font-size:large;
    padding: 12px;
  }
  }